@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.main {
  font-family: 'Abril Fatface', cursive; 
}

/* NavigationBar.jsx */
ul > li > a{
  color: #F0F0F0;
  text-decoration: none;
}

/* Main.jsx */
.fade-in-text {
  animation: fadeIn 3s;
}


@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}